.title{
    display: flex;
    justify-content: center;
}

#containerButtons{
    display: flex;
    justify-content: center;
}

#newGridButton{
  background-color: chocolate;
  color: aqua;
}

#resetButton{
    background-color:#0a0a23;
    color: #fff;
}

#container{
    width: 960px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
    border: solid 1px red;
}

#rowsContainer{
  width: 960px;
}

.colContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.col{
    border-style: solid;
    border-width: 1px;
    border-color: green;
    width: 10px;
    height: 10px;
}

.touched{
    background: aqua;
}