.title{
    display: flex;
    justify-content: center;
}

#containerResetButton{
    display: flex;
    justify-content: center;
}

#physicalResetButton{
    background-color:#0a0a23;
    color: #fff;
}

.container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    border: solid 1px red;
}

.colContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

.col{
    border-style: solid;
    border-width: 1px;
    border-color: green;
    width: 10px;
    height: 10px;
}

.touched{
    background: aqua;
}