.title{
  display: flex;
  justify-content: center;
}

#containerButtons{
  display: flex;
  justify-content: center;
}

#newGridButton{
  background-color: green;
  color: gold;
}

#resetButton{
  background-color:red;
  color: gold;
}

#container{
  width: 958px;
  height: auto;
  display: flex;
  justify-content: center;
  margin: auto;
  border: solid 1px black;
}

#colsContainer{
  width: 957px;
}

.rowContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 957px;
}

.gridItem{
  border: solid 1px grey;
  height: 960px;
  width: 960px;
}

